* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 50px;
    font-size: 16px;
    background-color: #63738A;
    color: #999999;
    margin: 0 auto;
}

form {
    background: #f2f3f7;
    padding: 50px 30px;
    border-radius: 5px;    
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 15px;
}

input, button {
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #51A950;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #3e8e41;
}

h2 {
    text-align: center;    
}

.message {
    text-align: center;
    color: #316e33;
}

.error {
    text-align: left;
    color: red;
    margin-top: 10px;
}

a, a:visited {
    color: inherit;
}

P {
    color: #aaa;
    text-align: center;
}