/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
    color: #111827;
}

/* Header */
header {
    height: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #2563eb;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 2px;
    
    & span {
        font-size: 0.9rem;
        font-weight: bold;
    }

    & small {
        font-size: 0.75rem;
        color: #6b7280;
    }
}


/* Layout principal */
.container {
    display: flex;
}

/* Sidebar */
aside {
    width: 160px;
    background-color: #ffffff;
    border-right: 1px solid #e5e7eb;
    height: calc(100vh - 70px);
    min-height: 300px;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    text-decoration: none;
    color: #374151;    
}

aside a:hover {
    color: #2563eb;
}

/* Conteúdo e Seções */
main {    
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100vh - 70px);
    min-height: 300px;
}

.table-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.text-content p {
    line-height: 2;
}


/* Botões */
.btn-add {
    background-color: #2563eb;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-add:hover {
    background-color: #1e40af;
}

.btn-edit, .btn-toggle, .btn-delete {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 2px;
    font-size: 1.2rem;  
    cursor: pointer;
}

.btn-edit:hover {
    border-color: #d37a15e7;
    
}

.btn-toggle:hover {
    border-color: #3b82f6;
}

.btn-delete:hover {
    border-color: #f87171;
}

.btn-cancel {
    background-color: #e5e7eb;
    color: #111827;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #d1d5db;
}

.btn-save {
    background-color: #10b981;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #047857;
}

/* Tabelas */
table {    
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
    font-size: 0.9rem;
}

th {
    background-color: #f3f4f6;
    font-weight: bold;
}

tr:hover {
    background-color: #f9fafb;
}

.actions {
    display: flex;
    gap: 10px;
}

/* Formulários */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.form-field {
    font-size: 0.9rem;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 5px;
    
    label {
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 8px;
        border: 1px solid #d1d5db;
    }
}

.form-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;

    button {
        width: 100%;
        padding: 8px 15px;
        font-weight: bold;
    }
}

.form-errors {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #b91c1c;
    font-weight: bold;
}   